.calculator {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 32px;
    margin: 32px 5vw;
}

.calculator-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 3 1 0;
    min-width: 0;
}

.row {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex: 1;
}

.calculator-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1 0 0;
}

.calculator-button {
    border-radius: 8px;
    padding: 32px 0px;
    font-size: 32px;
    flex: 1;
}

.operator-button {
    background-color: rgb(255, 123, 0);
    color: white;
}

.operator-button:hover {
    background-color: lightcoral;
}

.digit-button {
    background-color: darkgray;
    color: white;
}

.digit-button:hover {
    background-color: lightgray;
}

.display-number {
    border: 2px solid black;
    font-size: 64px;
    display: flex;
    align-items: center;
    flex: 1;
    padding-right: 16px;
    border-radius: 4px;
}

#display-board {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
    /* puts "..." on the left side */
    text-align: right;
    /* keeps digits visually aligned to the right */
    width: 100%;
    /* make width constrained so overflow is detectable */
}

#display-operator {
    min-width: 64px;
    padding-left: 8px;
}