.calculator {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 32px;
    margin: 32px 5vw;
}

.calculator-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 3;
}

.row {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex: 1;
}

.calculator-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
}

.calculator-button {
    border-radius: 8px;
    padding: 32px 0px;
    font-size: 32px;
    flex: 1;
}

.operator-button {
    background-color: rgb(255, 123, 0);
    color: white;
}

.operator-button:hover {
    background-color: lightcoral;
}

.digit-button {
    background-color: darkgray;
    color: white;
}

.digit-button:hover {
    background-color: lightgray;
}

.display-number {
    border: 2px solid black;
    font-size: 64px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
    padding-right: 16px;
    border-radius: 4px;
}